numpy==1.22.0
pandas==2.0.1
scipy==1.7.2
scikit-learn==1.2.2
matplotlib==3.7.1
prettytable==0.7.2
mwparserfromhell==0.5.4
beautifulsoup4==4.6.0
py7zr==0.20.2
optuna==3.0.0
kneed==0.8.1
xgboost==1.6.2
openpyxl==3.1.2
raha==1.26